*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #dad7cd;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}
.heading{
    padding: 10px;
}

.heading h1{
    text-align: center;
    font-size: 2em;
    color: #344e41;
}
.sketchDiv{
    border: 1px solid #344e41;
    height: 30%;
    width: 60%;
    background-color: #ffff;
    box-shadow: 2px 2px 2px 2px grey;
    cursor: pointer;
}
.theColorPicker input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.theColorPicker input:hover{
    transform: scale(1.2);
}
.theColorPicker input::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
}
.theColorPicker inpit::-moz-color-swatch{
    border-radius: 50%;
    border: none;
}
button{
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}
.modeButtons{
    background-color: #ffff;
    border: 2px solid #344e41;

}
.disabled{
    background-color: transparent;
    color: grey;
    border: 0.2px solid grey;
}
.eraser{
    background-color: #344e41;
    color: #ffff;

}
.clearButton{
    background-color: rgb(110, 10, 10);
    color: #ffff;
}
h3{
    color: #344e41;
    font-size: 1em;
    text-align: center;
}
.pickerHeading, 
.modesHeading{
    margin-bottom: 5px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: block;
    text-align: center;
    color: #344e41;
}
