*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #dad7cd;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 25px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.heading{
    padding: 20px;
}

.heading h1{
    text-align: center;
    font-size: 3.9em;
    color: #344e41;
}

.grid{
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px grey;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}
.gridDiv{
    border: 1px solid black;
    height: 25px;
    width: 25x;   
}
.grid>div:nth-child(16n + 1){
    width: 100%;
    border: 0;
    height: 0;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.theColorPicker{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}
.theColorPicker input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 80px;
    width: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
}
.theColorPicker input:hover{
    transform: scale(1.2);
}
.theColorPicker input::-webkit-color-swatch{
    border-radius: 50%;
    border: none;
}
.theColorPicker inpit::-moz-color-swatch{
    border-radius: 50%;
    border: none;
}

button{
    font-size: 35px;
    padding: 8px;
    border-radius: 10px;
}
.theModes{
    margin: auto;
}
.modesHeading{
    margin-bottom: 15px;
    text-align: center;
}
.modeButtons{
    background-color: #ffff;
    border: 2px solid #344e41;

}
.disabled{
    background-color: transparent;
    color: grey;
    border: 0.2px solid grey;
}
.eraser, .clearButton{
    font-size: 30px;
}
.eraser{
    background-color: #344e41;
    color: #ffff;

}
.clearButton{
    background-color: rgb(110, 10, 10);
    color: #ffff;
}
h3{
    color: #344e41;
    font-size: 1.5em;
}
.changeMakers{
    margin: auto;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: block;
    text-align: center;
    color: #344e41;
}
footer p{
    font-size: 25px;
}