*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;


}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
    
}
.grid{
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px grey;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}
.gridDiv{
    border: 1px solid black;
    height: 25px;
    width: 25x;   
}
.grid>div:nth-child(16n + 1){
    width: 100%;
    border: 0;
    height: 0;
}